<%= simple_form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</strong>
      <ul>
      <% @branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group-form">
    <div class="input-group">
      <label>Store</label>
      <%= f.collection_select :store_id, Store.all.order(:name), :id, :name, prompt: "Select One", class: "form-control" %>
    </div>
    <div class="input-group">
      <label>Branch Name</label>
      <%= f.input :name, label: false, class: "form-control" %>
    </div>
    <div class="input-group">
      <label>Address</label>
      <%= f.input :address, label: false, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
