<%= simple_form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% @branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <div class="dlabel"> Store </div>
    <%= f.select :store_id, options_for_select(all_stores), prompt: "Select One" %>
    <div class="dlabel"> Branch Name </div>
    <%= f.input :name, label: false %>
    <div class="dlabel"> Address </div>
    <%= f.input :address, label: false %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
