<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><%= @branch.store_name %></div>
  <div class="panel-body">
    <strong><%= @branch.name %></strong>
    <p> <%= @branch.address %> </p>

    <div class="btn-wrap mg-top15">
      <%= link_to 'Back', branches_path, class: "btn btn-primary" %>
      <%= link_to edit_branch_path(@branch), class: "btn btn-success mg-left15" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
      <% end %>
    </div>
  </div>
</div>
