<% if user_signed_in? && current_user.admin? %>
  <div class="list-group">
    <%= link_to "Stores", stores_path, class: "list-group-item" %>
    <%= link_to "Branches", branches_path, class: "list-group-item" %>
    <%= link_to "Categories", categories_path, class: "list-group-item" %>
    <%= link_to "Products", products_path, class: "list-group-item" %>
    <%= link_to "Branch Managers", branch_managers_path, class: "list-group-item" %>
    <%= link_to "Admins", admins_path, class: "list-group-item" %>
  </div>
<% end %>
