<div class="page-login">
  <%= image_tag "logo-dokoka-large.png", alt: "dokoka logo" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="pull-right remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions btn-login">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <div class="pull-right">
    <%= render "users/shared/links" %>
  </div>
</div>
