<% if @branch_manager.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@branch_manager.errors.count, "error") %> prohibited this branch_manager from being saved:</h2>

    <ul>
    <% @branch_manager.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="actions">
  <%= f.input :first_name, required: true, placeholder: "First Name", label: false %>
  <%= f.input :last_name, required: true, placeholder: "Last Name", label: false  %>
  <%= f.input :email, required: true, placeholder: "Email", label: false  %>
  <%= f.input :password, placeholder: "Password", required: true, label: false  %>
  <%= f.input :password_confirmation, placeholder: "Password Confirmation", required: true, label: false  %>

  <%= f.input :account_type, collection: %w(admin branch_manager), include_blank: false, label: false  %>
  <%= f.select :branch_id, options_for_select(all_branches), prompt: "Select One" %>
  <br>
  <%= f.submit %>
</div>
