<div class="page-login">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions btn-login">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
  <div class="pull-right">
    <%= render "users/shared/links" %>
  </div>
</div>
