<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <%= f.hidden_field :branch_id %>
    <div class="dlabel"> Product Name </div>
    <%= f.input :name, label: false %>
    <div class="dlabel"> Price </div>
    <%= f.input :price, label: false %>
    <div class="dlabel"> Category </div>
    <%= f.select :category_id, options_for_select(all_categories), prompt: "Select One" %>
    <div class="dlabel"> Product Details </div>
    <%= f.input :details, label: false %>
    <div class="dlabel"> Available? </div>
    <%= f.input :available, as: :radio_buttons, label: false %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
