<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <%= f.hidden_field :branch_id %>
    <div class="dlabel"> Product Name </div>
    <%= f.text_field :name %>
    <div class="dlabel"> Price </div>
    <%= f.text_field :price %>
    <div class="dlabel"> Product Details </div>
    <%= f.text_area :details %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
