<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= @product.name %></strong> - <%= @product.category_name %></div>
  <div class="panel-body">
    <div class="row mg-btm15">
      <div class="col-md-4 thumb-image">
        <%= image_tag url_for(action: :show_image, id: @product.id), size: "250x250" %>  
      </div>
      <div class="col-md-8">
        <p class="txt-price"><strong>Php <%= @product.price %></strong></p>
        <p class="mg-btm15"><%= simple_format(@product.details) %></p>
      </div>      
    </div>

    <div class="btn-wrap">
      <%= link_to 'Back', products_path, class: "btn btn-primary" %>
      <%= link_to edit_product_path(@product), class: "btn btn-success mg-left10" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
      <% end %>
    </div>
  </div>
</div>
