<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><%= @product.name %></div>
  <div class="panel-body">
    <p><strong><%= @product.price %></strong></p>
    <p><%= @product.category_name %></p>
    <p class="mg-btm15"><%= @product.details %></p>
    <p class="mg-btm15"><%= image_tag url_for(action: :show_image, id: @product.id), size: "250x250" %></p>

    <div class="btn-wrap">
      <%= link_to 'Back', products_path, class: "btn btn-primary" %>
      <%= link_to edit_product_path(@product), class: "btn btn-success mg-left10" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
      <% end %>
    </div>
  </div>
</div>
